.box {

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table,
    th {
        color: white;
        background: #474955;
        height: 54px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    td {
        height: 64px;
        background: white;
        color: #474955;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        border: 1px solid #E3E6EC;
    }
}